<div id="ToolBar" class="text-left mb-2">
  <span id="LeftButtonGroup" class="text-left my-2 ml-5">
    <button class="btn btn-default" (click)="onUndoClick($event)">Undo</button>
    <button class="btn btn-default" (click)="onRedoClick($event)">Redo</button>

  </span>

  <span id="RightButtonGroup" class="float-right mr-5">
    <button class="btn btn-default" (click)="onControlsBtnClick()">Controls</button>
  </span>

</div>


<div id="ControlsMenuContainer"
     #ControlsMenueContainer
     [class.hidden]="!show_controls_menu" >
  <dfa-controls (closeRequestEvent)="closeControlsMenu()"></dfa-controls>
</div>

<canvas id="MainCanvas"
        #MainCanvas
        class=""
        style="border: black thin solid;"
        width="1000px" height="1000px">

</canvas>
