
#ControlsMenuContainer{
  /*position: absolute;*/

  /*visibility: hidden;*/

  position: absolute;
  background-color: white;

  height: 60%;
  width: 80%;

  top: 10%;
  left: 10%;

  border-style: solid;
  border-width: thin;
  border-radius: 10px;
}


.hidden{
  visibility: hidden;
}
