
#ControlsMenuContainer{
  /*position: absolute;*/

  /*visibility: hidden;*/

  position: absolute;
  background-color: white;


  height: 60%;
  width: 80%;

  top: 2%;
  left: 10%;

  border-style: solid;
  border-width: thin;

  z-index: 1;
}

#CanvasColumn{

}

#SidebarColumn{
  border-style: solid;

}

#MainCanvas{
  /*width: 100%;*/
}

/*Style classes*/

.hidden{
  visibility: hidden;
}
