<div id="ComponentContainer" class="mt-2 form-group text-left">
  <label for="NodeLabelInput" class=""> Label </label>
  <input id="NodeLabelInput"
          type="text"
          class="form-control"
          [value]="selected_node.label"
          (change)="onNodeRename($event)">

  <!--<div class="form-check">-->

    <!--<label class="form-check-label">-->
      <!--<input id="NodeAcceptStateCheckBox" type="checkbox" class="form-check-input">-->
    <!--Accept state</label>-->

  <!--</div>-->

</div>
