<nav id="Header"
     class="nav navbar-expand-lg navbar-light bg-light mt-2"
     style="min-height: 50px; padding: 5px;">

  <a class="navbar-brand h1" routerLink="">Chat App</a>



  <div *ngIf="!userService.userIsAuthenticated()"
    class="form-inline float-right">
    <a class="nav-item " routerLink="/login">Login</a>
    |
    <a routerLink="/register">Register</a>
  </div>

  <div *ngIf="userService.userIsAuthenticated()"
       class="form-inline float-right">
    <a class="nav-item "
       routerLink="/"
       (click)="onLogoutClick()">

      Logout
    </a>
  </div>

</nav>
