<div id="ComponentContainer" class="mt-2 form-group text-left">

  <label for="EdgeLabelInput" class=""> Label </label>
  <input id="EdgeLabelInput"
         type="text"
         value="{{selected_edge.label}}"
         class="form-control"
        (change)="onEdgeNameChange($event)">

  <button class="btn btn-sm btn-default"
          (click)="onStraightenEdgeClick()">Straighten Edge</button>

  <button class="btn btn-sm btn-default"
          (click)="onChangeLabelPositionClick()">Change label position</button>

</div>
